html, body {
  height: 100%;
  margin: 0; /* Remove default margins */
  font-family: sans-serif;
}

#root {
  height: 100%;
  color-scheme: light dark;
  background-color: light-dark(#fff, hsl(0deg 0% 10%));
  color: light-dark(#111, #fff);
}

.fill-grid {
  height: 100%;
  block-size: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
}

.rdg-cell {
  border: 1px solid #eee;
}

/* Ensure loading overlay is always on top */
.loading-overlay {
  z-index: 9999 !important;
}

:before,:after {
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
